



.navbar-blue{
    background-color: yellow !important   ;
    
}

.navbar{
    margin-bottom: -20px;
    border-radius: 0px ;
}

nav>.navbar-collapse>ul>li.active>a{
    color: white !important;
background-color: yellowgreen !important;
}

nav>.navbar-collapse>ul>li>a{
    color: black !important;
    font-size: 17px;
/* background-color: blue !important; */
}

nav>.navbar-collapse>ul>li>a:hover{
    color: white !important;
    font-size: 17px;
background-color: yellowgreen !important;
}

.banner{
    background-image: url(../images/bg_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    min-height: 550px;
}

.banner-overlay{
    width: 100%;
    height: 100%;
    min-height: 550px;
    background-color: rgba(0, 0, 0, 0.50);
}

.banner-heading{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 52px; */
    max-width: 980px;
    padding: 20px 34px;
    margin: 20px auto 0px;
    text-align: center;
    color: white;

}

.banner-about{
    background-image: url(../images/bg_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    min-height: 550px;

}

/* @mixin gradient-background(){
	background: rgba(106,0,255,1);
	background: -moz-linear-gradient(left, rgba(106,0,255,1) 0%, rgba(255,217,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(106,0,255,1)), color-stop(100%, rgba(255,217,0,1)));
	background: -webkit-linear-gradient(left, rgba(106,0,255,1) 0%, rgba(255,217,0,1) 100%);
	background: -o-linear-gradient(left, rgba(106,0,255,1) 0%, rgba(255,217,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(106,0,255,1) 0%, rgba(255,217,0,1) 100%);
	background: linear-gradient(to right, rgba(106,0,255,1) 0%, rgba(255,217,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a00ff', endColorstr='#ffd900', GradientType=1 );
} */

.overlay{
    /* position: absolute; */
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: .8;
        background: rgba(106,0,255,1);
        background: -moz-linear-gradient(left, rgba(106,0,255,1) 0%, rgba(255,217,0,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(106,0,255,1)), color-stop(100%, rgba(255,217,0,1)));
        background: -webkit-linear-gradient(left, rgba(106,0,255,1) 0%, rgba(255,217,0,1) 100%);
        background: -o-linear-gradient(left, rgba(106,0,255,1) 0%, rgba(255,217,0,1) 100%);
        background: -ms-linear-gradient(left, rgba(106,0,255,1) 0%, rgba(255,217,0,1) 100%);
        background: linear-gradient(to right, rgba(106,0,255,1) 0%, rgba(255,217,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a00ff', endColorstr='#ffd900', GradientType=1 );}